TG_TOKEN=8657000276:AAFUlaL44SxoYgnNNCRVsFWqu56xprL5liQ
TG_CHAT=1003938962897
SUPABASE_URL=https://mrvpqckdlnawcyuembpd.supabase.co
SUPABASE_KEY=sb_publishable_lh_ybOKWkLQ7AV3gbyMJ9w_PZ_cPqs3
MAX_SEND=50
